<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis 配置文件 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultEnumTypeHandler" value="EnumOrdinalTypeHandler"/>
    </settings>

    <!-- 别名设置 -->
    <typeAliases>
        <typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler" alias="EnumOrdinalTypeHandler" />
        <package name="io.midsphere.model"/>
        <package name="io.midsphere.model.vo"/>
    </typeAliases>

    <!-- mapper 设置 -->
    <mappers>
        <mapper resource="mybatis/mapper/NodeMapper.xml" />
        <mapper resource="mybatis/mapper/ProjectMapper.xml" />
        <mapper resource="mybatis/mapper/RepositoryMapper.xml" />
        <mapper resource="mybatis/mapper/ApplicationMapper.xml" />
    </mappers>


</configuration>