<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.midsphere.mapper.RepositoryMapper">

    <resultMap id="BaseResultMap" type="Repository">
        <id property="id" column="id" />
        <result property="repositoryUrl" column="repository_url" />
        <result property="repositoryType" column="repository_type" typeHandler="EnumOrdinalTypeHandler" />
    </resultMap>


    <select id="countByParams" parameterType="RepositoryQueryParam" resultType="long">
        SELECT COUNT(1) FROM midsphere_repository
        <where>
            <if test="projectKey != null and projectKey != ''">
                fk_project_key = #{projectKey,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="findPage" parameterType="RepositoryQueryParam" resultMap="BaseResultMap">
        SELECT * FROM midsphere_repository
        <where>
            <if test="projectKey != null and projectKey != ''">
                fk_project_key = #{projectKey,jdbcType=VARCHAR}
            </if>
        </where>
        limit #{start}, #{offset}
    </select>

    <select id="findByRepositoryUrl" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM midsphere_repository
        <where>
            <if test="repositoryUrl != null and repositoryUrl != ''">
                repository_url = #{repositoryUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="Repository">

    </insert>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM midsphere_repository where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteById" parameterType="integer">
        delete from midsphere_respository where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="Repository">
        update midsphere_repository
            <set>
                <if test="repositoryUrl != null and repositoryUrl != ''">
                    repository_url = #{repositoryUrl,jdbcType=VARCHAR},
                </if>
            </set>

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>